[Unit]
Description=export_daily_stud_db
Wants=export_daily_stud_db.timer
StartLimitIntervalSec=100
StartLimitBurst=3

[Service]
Type=simple
Restart=on-failure
RestartSec=10s
ExecStart=/usr/bin/export_daily_stud_db.sh

[Install]
WantedBy=multi-user.targe

